*{
    margin: 0;
    padding: 0;
}
body{
    background:linear-gradient(135deg, #f403d1, #64b5f6);
    position:absolute
}
.baqsi {
    position: relative;
    left: 50vh;
    top:30vh;
    
}
h2 {
    position: relative;
    left: 35vh;
}